<%= form_for @song do |s|%>
    <% if @song.errors.any? %>
    <div id="error_explanation">
    <h2>Errors found:</h2>
    <% @song.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <% end %>
<div class="field>"
<%= s.label :title %>
<%= s.text_field :title%>
</div>
<br>
<div class="field">
<%= s.label :artist_name%>
<%= s.text_field :artist_name%>
</div>
<br>
<div class=:"field">
<%= s.label :release_year%>
<%= s.number_field :release_year%>
</div>
<br>
<div class="field">
<%= s.label :genre%>
<%= s.text_field :genre%>
</div>
<div class="field">
<%= s.label :released%>
<%= s.check_box :released%>
</div>
<div class="actions">
<%= s.submit %>
</div>
<%end%>
